{% extends 'cubes/emails/base.html' %}
{% block content %}
<h1>{{ submission.cube.name }}</h1>
<p>{% firstof submission.player.get_short_name submission.player.get_username %} has submitted their card for round {{ submission.round_number }}.</p>
<p>Waiting on: {% for p in waiting_on %}{% if not forloop.first %}, {% endif %}<b>{% firstof p.get_short_name p.get_username %}</b>{% endfor %}.</p>
<p>If you're on this list and need to submit, go here: <a href="{{ url_base }}{% url 'cube-detail' submission.cube.pk %}" target="_blank" style="color:#66cccc; text-decoration:underline;">{{ submission.cube.name }}</a></p>
{% endblock %}
